body {
  font-family: 'Noto Sans', sans-serif;
}


.zenodo-icon {
    background: url('\static\images\zenodo-icon-white.ico');
    height: 20px;
    width: 20px;
    display: block;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.footer{
  padding-bottom: 3rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

#painting_icon{
  width: 3%;
}

.video-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 1rem auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 1.5rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.video-single {
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.video-col{
  margin: 0;
  flex: 0 1 calc(33.333% - 10px);
  min-width: 280px;
}

.video-col,
.video-single {
  display: flex;
  justify-content: center;
}

.scenario-selector-wrapper {
  display: flex;
  justify-content: center;
  margin: 0em auto 1.5em auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.scenario-selector-wrapper .field {
  width: 100%;
}

.scenario-selector-wrapper .label {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #363636;
}

.scenario-selector-wrapper .select {
  width: 100%;
}

.scenario-selector-wrapper .select select {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 1em;
}

.video-quartet{
  margin-top: 2em;
  margin-bottom: 2em;
}

.video-sextet{
  margin-top: 2em;
  margin-bottom: 2em;
}

.lane-subsection {
  margin: 0 auto;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid #d3d3d3;
  display: block;
}

@media (max-width: 880px) {
  .video-row {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
  }
  
  #painting_icon{
    width: 5%;
  }

  .video-col,
  .video-single {
    width: 95%;
    max-width: 95%;
  }

  video {
    margin-bottom: 0.25rem;
  }
}


